/* home */

@use "../base/typography" as type;

body {
  background: repeating-radial-gradient(var(--yellow-6), var(--yellow-5) 20%);
  background-attachment: fixed;
  display: grid;
  place-items:  center;
  font-family: type.$font;
  padding: 2rem;
  color: var(--gray-12);
}

.article__img {
  width: 30vw;
  border-radius: 5%;
}

.footer__p__a, .footer__p__a:visited {
  color: var(--blue-7);
}

.article__h1, .article__h3 {
  color: var(--gray-10);
}

@media (prefers-color-scheme: dark) {
  body {
    background: repeating-radial-gradient(var(--gray-12), var(--gray-9) 20%);
    color: var(--yellow-6);
  }

  .article__h1, .article__h3 {
    color: var(--yellow-5);
  }
}